@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --header-left: #0A121F;
    --header-right: #0A121F;
    --introduction-left: #0B1320;
    --introduction-right: #09111E;
}
body {
    background-color: #0B1320;
}

/* header start */
header {
    background: linear-gradient(to right, var(--header-left), var(--header-right));
}

header img{
    width: 236px !important;
}

header .sign-in {
    width: 112px;
    height: 52px;
    color: white;
    background-color: #3A68B8;
}

header .sign-in:hover {
    color: #fff;
    background-color: #3A68B8;
}

.mobile-menu {
    position: fixed;
    background-color: rgb(0, 0, 0, .9);
    right: 0;
    width: 0;
    height: 100vh;
    overflow-x: hidden;
    z-index: 9999999;
    transition: .7s ease;
}

.mobile-menu.aktiv {
    width: 180px;
}

.fa-xmark {
    position: absolute;
    right: 10px;
    top: 20px;
    font-size: 25px;
}

.mobile-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.mobile-links a {
    color: #3A68B8;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
}
/* header end */


/* introduction start */
.introduction {
    background: linear-gradient(to bottom, var(--introduction-left), var(--introduction-right));
}
.introduction .intro-left h6 {
    color: #3A68B8;
    text-transform: uppercase;
}
.introduction .intro-left h1 {
    color: #fff;
    font-size: 52px;
    font-weight: 800;
}
.introduction .intro-left p {
    color: #fff;
    opacity: .6;
    font-weight: 100px;
    font-size: 16px;
}
.introduction .intro-left a,
.introduction .intro-left button {
    background-color: #3A68B8;
    color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 171px;
    height: 57px;
    border: none;
    border-radius: 5px;
}

#watch-modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.781);
    width: 100%;
    height: 100vh;
    z-index: 9999999;
    overflow-x: hidden;
    transform: scale(0);
    transform: all 1.3s linear;
}
#watch-modal.aktiv {
    transform: scale(1);
}
#watch-modal .fa-circle-xmark {
    position: absolute;
    font-size: 30px;
    right: 20px;
    top: 20px;
    cursor: pointer;
    z-index: 9999999;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* introduction end */


/* partners start */
.companies img {
    width: 100% !important;
    height: 70px !important;
}
/* partners end */


/* apply start */
.apply-ai h3 {
    font-weight: 700;
    font-size: 40px;
}
.apply-ai p {
    color: #fff;
    opacity: .6; 
    z-index: 9999999;
}
.learn-more {
    background-color: #3A68B8;
    color: #fff;
    width: 150px;
    height: 52px;
    border: none;
    border-radius: 5px;
}
/* apply end */



/* awards start */
.award img {
    object-fit: contain;
    width: 80px;
    height: 88px;
    margin-left: 35%;
    /* display: block;
    z-index: 9999999;
    align-items: center;
    justify-content: center; */
}
.award p{
    color: #fff;
    opacity: 0.5;
    text-align: center;
}
.award {
    background-color: #151c29;
}
.awards .award {
    width: 325px;
    height: 389px;
}
.awards .award:hover {
    box-shadow: 10px 20px 30px rgba(66, 67, 67, 0.67);
}
.swiper-pagination-bullet {
    background-color: #3A68B8;
    width: 15px;
    height: 15px;
}
/* awards end */


/* awesome start */
.awesome .awesome-left-side h3 {
 font-weight: 700;
 font-size: 39px;
}
.awesome .awesome-left-side p {
    padding-top: 15px;
}
.awesome p {
    color: #fff;
    opacity: 0.6;
}
/* awesome end */


/* footer start */
.footer article {
    font-weight: 100;
    color: #fff;
    opacity: .7;
}
.footer h3 {
    color: #3A68B8;
}
.footer a {
    text-decoration: none !important;
    color: #fff !important;
}
.footer .end a {
    color: #fff;
    opacity: .7;
}
/* footer end */


/* media */
@media(min-width:375px) {
    header img{
        width: 286px !important;
    }
    .awards .award {
        width: 362px;
    }
}
@media(min-width:768px) {
    .awesome .awesome-left-side h3 {
        font-size: 50px;
       }
    
}